@import '_variable.scss';

$btnBgColor:$LimeGreen;


.btn_easybank{
    display: inline-block;
    font-family: "Public Sans", sans-serif;
    font-size: 10px;
    font-weight:400;
    line-height:17px;
    padding: 3px 15px;
    color:$White;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;     
    border: 2px solid $LimeGreen;
    border-radius:50px;
    background-image: linear-gradient(to right,$LimeGreen,$BrightCyan);
    margin-bottom: 30px;
    

}