
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:wght@100&display=swap');
@import '_button.scss';
@import '_variable.scss';






*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@mixin heading_two_style
{
    font-family:"Public Sans", sans-serif ;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    
}

@mixin p_element{
    font-family:"Public Sans", sans-serif ;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 13px;
    color: $GrayishBlue;
    line-height: 18px;

}
.bg_header{
    background-color: $LightGrayishBlue;
}

#easybank_navbar{
    position: relative;
    top:0px;
    z-index: 100;
    

    .nav_style {
             
               
        a{
            
            font-family: "Public Sans", sans-serif;
            font-weight: 600;
            font-size: 12px;
            color:$GrayishBlue;
            text-align: center;
            text-decoration: none;
            &:hover{
                border-bottom: 2px solid LimeGreen;
            }
            
         }
         
    }
} 
.nav_mob{
    border: none;
    outline: none;
  
     &:focus,
     &:active,
     &-icon:focus {
       outline: none;
       box-shadow: none;
     }
}


//  Next Generation css starts 


.heading_nxt{
    margin-top: 70px;
    margin-left: 9%;
    width:30%;  
    h2{@include heading_two_style};
    p{@include p_element}
             
    }    

.img_grp {
    
    .img1{
        position: absolute;
        top: -110px;
        right: -180px;
        z-index: 1;
        width: 62%;
        height: 100%;
    }
    .img2{
        position: absolute;
        top:5%;
        right: -100px;
        z-index: 1;
        width: 42%;
        height: 100%;
    }

    .img3{
        display: none;
    }
}



//   Next Generation css starts 

// Why choose us css starts


.wc_container{
    background-color: $LightGrayishBlue;
    margin-top: 40px;
    h2{
        margin-top: 30px;
        @include heading_two_style;
        
    }
    p{
        margin-top: 20px;
        display: inline-block;
        width:450px;
        @include p_element;
        
        
    }
}
.choose_container{
    width:25%;
    h4{
        font-family: "Public Sans", sans-serif ;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
    }

    p{
        font-family: "Public Sans", sans-serif ;
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 60px; 
        color: $GrayishBlue;
        width:190px;
        display: inline-block;
    }
    
    .choose_img{
         width:50px;
         margin-bottom: 40px;

    }

}
// Why choose us css ends

// Latest_articles css starts

#Latest_articles{

    background-color: $VeryLightGray;


    .card_container
{
    
    margin-bottom: 20px;


}           
        h2{
            @include heading_two_style;
        
        }
    }

   
 

   .card_typ{
        border:none;
        background-color:$White;
        
   
    img{
        width:100%;
        height:150px;
        display: inline-block;       
    }

.content{
    background-color:#ffff
    
}
    h6{
        font-family: "Public Sans", sans-serif ;
        font-weight: 300;
        font-size: 10px;
        color: $GrayishBlue;

        }

        h4{
            font-family: "Public Sans", sans-serif ;
            font-weight: 600;
            font-size: 15px;         
        }
        &:hover{
            cursor: pointer;
            color:  LimeGreen;
        }

        p{
            @include p_element;
            
            
        }
    }
   
// footer css starts


#footer{
    background-color: $DarkBlue;
    width: 100%;
    margin-top: 30px;
}
    .footer_box {
        width:100%;
           
        
        .social_media_icons img{
            margin-right: 10px;
                &:hover{
                    cursor: pointer;
                    background-color:  LimeGreen;
                }
            
            

        }

        .firstrow_menu{
            width:100px;
            .left_menu{
                margin-top: 20px;
                
                li{
                    a{
                    color: $VeryLightGray;
                    font-family: "Public Sans", sans-serif;
                    font-weight: 400;
                    font-size: 10px;
                    margin-bottom: 10px; 
                    text-decoration: none;

                    &:hover{
                        cursor: pointer;
                        color:  LimeGreen;
                    }
                    }
                    
                }
            }
        }

        .secondrow_menu{
            width:150px;
            .right_menu{
                margin-top: 20px;
                li{
                    a{
                        color: $VeryLightGray;
                        font-family: "Public Sans", sans-serif;
                        font-weight: 400;
                        font-size: 10px; 
                        margin-bottom: 10px; 
                        text-decoration: none;
                        &:hover{
                            cursor: pointer;
                            color:  rgb(99, 185, 99);
                        }
                       
                    }
                   
                }
            }
        }


        p{
            color: $GrayishBlue;
            font-family: "Public Sans", sans-serif;        
            font-weight: 700;
            font-size: 10px; 
            margin-bottom: 10px; 
            margin-left: 40px;
            padding:0px;
     }
    }    
      
    @import '_responsive.scss';
    

   
